<h2>ลงทะเบียนเรียน</h2>

<div class="table">
  <table>
    <thead>
      <tr>
        <th> </th>
        <th> Course_ID </th>
        <th> Course_Name </th>
        <th> Course_Credit </th>
      </tr>
    </thead>
    <tbody *ngFor="let item of courseData">
      <input id="{{item.Course_ID}}" type="checkbox" (click)="GetData(item.Course_ID)"/>
      <th> {{ item.Course_ID }} </th>
      <th> {{ item.Course_Name }} </th>
      <th> {{ item.Course_Credit }} </th>
    </tbody>
  </table>
</div>
{{term}}
