<h2>ลงทะเบียนเรียน</h2>

<div class="table">
  <mat-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Course_ID">
      <mat-header-cell *matHeaderCellDef> Course_ID </mat-header-cell>
      <!-- <mat-cell *matCellDef="let elementData"> {{elementData[0].Course_ID}}</mat-cell> -->
      <mat-cell *matCellDef="let elementData;">{{elementData.Course_ID}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="Course_Name">
      <mat-header-cell *matHeaderCellDef> Course_Name </mat-header-cell>
      <mat-cell *matCellDef="let elementData;"> {{elementData.Course_Name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Course_Credit">
      <mat-header-cell *matHeaderCellDef> Course_Credit </mat-header-cell>
      <mat-cell *matCellDef="let elementData;"> {{elementData.Course_Credit}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
