<h2>ลงทะเบียนเรียน</h2>

<div class="table">
  <table>
    <thead>
      <tr>
        <th> </th>
        <th> Course_ID </th>
        <th> Course_Name </th>
        <th> Section </th>
      </tr>
    </thead>
    <tbody *ngFor="let item of courseData">
      <input id="{{item.Course_ID}}" type="checkbox" (change)="GetData($event,item.Course_ID)" />
      <th> {{ item.Course_ID }} </th>
      <th> {{ item.Course_Name }} </th>
      <th>
        <select [ngModel]="Datatouse[item.Course_ID]" (ngModelChange)="selectsec($event,item.Course_ID)" >
          <option id="{{x}}" *ngFor="let x of item.Section"  value={{x}}>{{x}}</option>
        </select>
      </th>
    </tbody>
  </table>
  <button (click)="Onclick()">submit</button>
</div>
<!-- {{term}} -->
