@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet');

.overall_font{
  font-family: 'Mitr', sans-seri !important;
}

.header{
  text-align:center;
  padding:25px;
  size:100%;
  border-radius:3px;
  border:1px solod black;
  box-shadow: 2px 2px 3px rgba(0,0,0,1);
  background:rgb(255, 200, 159);
  margin:0px 0px 10px 0px ;
}
.header h1{

  font-size:50px;

}
.nav {
  display: flex;
}

.background_nav {
  background-color: darksalmon;
  padding: 10px;
  border-radius: 5px;
  margin:3px;
  margin-right:12px;
  box-shadow: 2px 2px 3px rgba(0,0,0,1);
}

.background_nav_text {
  background-color: burlywood;
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
  border:0.5px solid black;

}
.head {
  font-size: 20px;
  margin:5px;
  padding:1px;

}
.background_nav_text li{
  padding: 5px;


}
.background_nav_text a{
  /* background-color: burlywood; */
  /* padding:10px; */
  color: black;
  text-decoration: none;

}


li{
  list-style: none;
  text-align: center;
}
