<div class="overall_font">
  <div>
    <div class="header">
      <h1 >ระบบสาระสนเทศเพื่องานทะเบียนนักศึกษา</h1>
    </div>
    <p class="header_text">ผู้ใช้งาน {{ this.Data.Name }} {{ dateTH }} ภาค/ปีการศึกษาปัจจุบัน {{ semester }} ภาค/ปีการศึกษาที่ทำงานอยู่ {{ semester }}</p>

  </div>

  <div class="nav">
    <nav class="background_nav">
      <h3 class="head">การลงทะเบียนเรียน</h3>
      <div class="background_nav_text">
        <li><a routerLink="Register">ลงทะเบียนเรียน</a></li>
        <li><a routerLink="Drop">ถอนวิชาเรียน</a></li>
        <li><a routerLink="CheckRegister">ผลการลงทะเบียน</a></li>
        <li><a routerLink="Bio">ข้อมูลนักศึกษา</a></li>
        <li><a (click)="logout()"  routerLink="">ออกจากระบบ</a></li>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
