/* You can add global styles to this file, and also import other style files */
body{
  background-color:rgb(254, 236, 213);
}
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet');

/* *body, h1, h2, h3, h4, h5, h6,a {
  font-family: 'Mitr', sans-seri !important;
} */
*{
  font-family: 'Mitr', sans-seri !important;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
